.sidebar{ 
    width: 300px; 
    a{ 
        font-size: 20px;
        color: rgb(87, 87, 87);
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
            svg:nth-child(1){
                position: absolute;
                margin-left: 10px;
                margin-top: 2px;
                font-size: 14px;
            }
        }
        &:hover{
            color: coral;
        }
        &:last-child{
            border: none;
        } 
        &:nth-child(2n){
            background-color: #ddd;
        }
        &:nth-child(2n+1){
            background-color: #fff;
        }
    } 
    .active{
        color: #ed5338 !important;
    }
}
